@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

header {
    background-color: darkolivegreen;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 10px 20px 10px 0px rgba(0, 0, 0, 0);
    padding: 20px 0;
}

.container {
    width: calc(100% - 120px);
    margin: auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 9;
}

body {
    font-family: 'Poppins', sans-serif;
}

.active{
    font-weight: 800px;
}


header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .logo img {
    width: 30px;
}

header .logo a {
    color:white;
}

header nav ul {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

header nav ul li a{
    color: darkred;
}

header .auth{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

header .auth a{
    padding: 5px 30px ;
    border-radius: 15px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;

}

header .auth .login{
    color: aliceblue;
    border: 2px solid #FFE8C2;
}

header .auth .register{
    background-color:#FFE8C2;
    color : darkolivegreen
}